
:root{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 100%;
    width: 100%;
}

#logo-container{
    background-color: rgb(55, 55, 82);
    height: 50px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo-top{
    width: 150px;
}

#nav-menu{
    background-color: rgb(73, 73, 93);
    /* height: 25px; */
    display: flex;
    padding-left: 20px;
    /* padding-top: 5px; */
}

.nav-links{
    color: white;
    text-decoration: none;
}

.nav-links-container{
     padding: 7px;
    
}

.nav-links-container:hover{
    border: 1px solid white;
}

main{
    padding: 20px;
    background-color: rgb(238, 247, 255);
}

#orange{
    background-color: rgb(255, 111, 0);
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

#main-title{
    background-image: url(../assets/bg-image.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 35px;
    color: white;
    margin-bottom: 20px;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}

h3{
    font-weight: bold;
}

#gifts-type{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

#perfect-gift{
    display: flex;
    margin-bottom: 15px;
}

#images-container{
    display: flex;
    justify-content: space-between;
}

.images{
    height: 320px;
    width: 270px;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.134);
}

#img1{
    background-image: url(../assets/img_1.jpg);
    
}

#img2{
    background-image: url(../assets/img_2.jpg);
    
}

#img3{
    background-image: url(../assets/img_3.jpg);
    
}

#img4{
    background-image: url(../assets/img_4.jpg);
    
}

.images{

}

.under-images{
    display: flex;
    justify-content: center;
    
}

#image1{
    margin-bottom: 20px;
}

.comments{
    font-weight: 600;
    margin-right: 10px;
    
}

.comments-links a{
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(0, 132, 132);
    text-decoration: none;
}

#back-top{
    background-color: rgb(73, 73, 93);
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
}

#back-top a{
    color: white;
}

#bottom-logo-container{
    padding: 40px;
    background-color: rgb(55, 55, 82);
    display: flex;
    justify-content: center;

}

#bottom-logo{
    width: 170px;
}