@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* IMPOSTAZIONI GENERALI */

:root{
    font-family:  'Poppins', sans-serif;
}


body{

    background: url(../img/sfondo.png);
    background-attachment: fixed;
    padding: 20px;
    
}

/* HEADER */

#head{
    background: rgb(0,28,26);
    background: -moz-linear-gradient(0deg, rgba(0,28,26,1) 0%, rgba(67,187,228,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,28,26,1) 0%, rgba(67,187,228,1) 100%);
    background: linear-gradient(0deg, rgba(0,28,26,1) 0%, rgba(67,187,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001c1a",endColorstr="#43bbe4",GradientType=1);
    padding: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.349);
    
}

#logo{
    width: 300px;
    margin-bottom: 20px;
}

#list-menu{
    list-style: none;
    padding: 10px;
    

}

#list-menu li{
    border: 10px;
    padding: 5px;
}

.nav-menu{
    color: white;
    text-decoration: none;
    
}

/* MAIN */

main{
    background-color: white;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.349);
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    font-size: 1.4rem;
    line-height: 1.5em;
    margin-bottom: 25px;
}

.paragraph{
    margin-bottom: 25px;
}

.list{
    padding-left: 40px;
    margin-bottom: 25px;
}

h3{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.4em;
    margin-bottom: 25px;
    }

.autor{
    color: rgb(159, 159, 159);
    margin-bottom: 25px;
    line-height: 1em;
}

#pen{
    color: white;
    background-color: rgb(159, 159, 159) ;
    font-size: 1rem;
    padding: 4px;
    margin: 2px;
    border-radius: 15%;
}

.mark{
    color:rgb(173, 0, 173);
    font-weight: 600;
}


table{
    border-bottom: 2px solid rgb(45, 101, 255);
}
table caption{
    font-style: italic;
    font-weight: 600;
}

table thead{
    background-color: rgb(45, 101, 255);
    color: white;
    height: 100px;
    table-layout: fixed;

}

tr:nth-child(even) { 
       background-color: rgba(128, 128, 128, 0.226);
       border-top: 1px solid grey;
       border-bottom: 1px solid grey;

}

td, th{
    text-align: center;
    overflow: auto;
    padding: 10px;
}

#year{
    
}

#video{
    border-radius: 10%;
    width: 100%; 
    
}

#newsletter{
    background-color: lightgray;
    padding: 20px;
}

#newsletter h5{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

}

#button{
    background-color: rgb(45, 101, 255);
    color: white;
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
    border: 0;
    font-weight: 600;
}

#mail {
    width: 250px;
    height: 30px;
    border: 0;
    border-bottom: 1px dashed black;
    font-size: 1.3rem;
}

#article-title{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.article{
    margin-bottom: 20px;
    background-color: lightgrey;
    padding: 25px;
    padding-bottom: 0;
    border: 1px solid grey;
    margin-bottom: 25px;
}

.data{
    font-size: 1.2rem;
    padding-left: 170px;
    line-height: 6rem;
}

.label{
    padding: 5px;
}

.calendar{
    padding: 5px;
}

.link{
    color: rgb(10, 143, 192);
    font-weight: bold;
}

footer{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(8,102,113,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(8,102,113,1) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(8,102,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#086671",GradientType=1);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.349);
    font-size: 1.1rem;
    color: white;
    padding: 20px;
    text-align: center;
    line-height: 1.5rem;
    
}

footer a{
    color: purple;
    font-weight: bold;
    font-size: larger;
}






/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
