body{
    margin: 10px;
}

nav{
    display: block;
    ul{
        display: flex;
        flex-direction: column;
        li{
            font-size: 1.1em;
        }
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }
}

#main{
    background-color: aqua;
    p{
        line-height: 10px;
    }
    a{
        text-decoration: none;
    }
}

// 2)lavorare con le pseudoclassi

button.primary{
    padding: 10px;
    background-color: lightsalmon;
    transition: all 0.2s ease;
    &:hover{
        background-color: aquamarine;
        transform: scale(1.2);
    }
}

//3) proprietà nidificate con prefisso comune

p.andreaa{
    font: {
        size: 1.2em;
        weight: bold;
        family: sans-serif;
    }
}

//4)variabili

$main-margin-value: 20px;
$primary-color: blue;

article{
    margin-top: $main-margin-value;
    margin-bottom: $main-margin-value + 20px;
    p{
        color: $primary-color;
    }
}

// 5) partials

