a { 
    color: black;
}

.colore-rosso{
    color: red;

}


#colore-blu{
    background-color: purple;
}

/* selezione di figli */

span b{
    color: rebeccapurple;
}

 .paragrafo-speciale b, .paragrafo-speciale em{ /* peso 10+1 = 11 */
    color: violet;
}

/* selezione solo dei figli di primo livello */

.area-speciale > span {
    color: blueviolet;
}

/* contrllo gli span dentro la lista e non quelli fuori  */

.area-speciale ul li span {
    font-style: italic;
}

/* tag => peso 1
class => peso 10
id => peso 100
inline style => peso 1000 */

/* a parità di peso vince quello più in basso anche dentro lo stesso selettore */
