
:root{
    font-size: 15px;
}

#main-header{
    text-align: center;
}

#logo{
    width: 150px;
    padding-bottom: 20px;
}

#under-logo{

    border-top: 1px solid orange;
    background-color: rgb(255, 191, 0, 0.1);
    margin: 0;
    color: rgb(12, 125, 139);
    padding-top: 15px;
    padding-bottom: 15px;
}

body{
    margin: 0;
}

main{
    margin: 0 auto;
    width: 650px;
}

h1{
    text-align: center;
}

#focaccia{
    width: 650px;
    border-radius: 2%;
    
}

#focaccia{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.308);
}

#under-image{
    text-align: center;
    color: rgb(0, 0, 0, 0.4);
}

#other-recipes{
    color: rgb(188, 69, 0);
    border-left: 2px solid rgba(255, 166, 0, 0.542);
    padding-left: 5px;
    font-weight: 600;
}

a{
    color: rgb(0, 146, 146);
}

h3{
    border-bottom: 2px solid rgba(0, 255, 255, 0.201);
    padding-bottom: 10px;
    
}

#ingredients{
    padding-top: 25px;
}

#instructions-start{
    padding-left: 10px;
}

#instructions-start p{
    padding-left: 3px;
}

#recipe{
    margin: 0;
    padding-left: 10px;
    font-size: 0.9rem;
}

 h6{

    font-size: 0.8rem;
    margin: 0px;
}