<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div
        *ngIf="article.length == 0"
        class="row d-flex justify-content-center mt-5 fs-1"
      >
        <div class="col-8 d-flex justify-content-center">
          <p>Non ci sono articoli...</p>
        </div>
      </div>
      <div *ngIf="article" class="row">
        <div *ngFor="let item of article" class="col-4">
          <div class="card mt-2">
            <img src="{{ item.imgUrl }}" class="card-img-top" alt="" />
            <div class="card-body">
              <h5 class="card-title">{{ item.productName }}</h5>
              <p class="card-text">
                {{ item.productDescription }}
              </p>
              <p class="card-text">{{ item.productPrice }}€</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
