body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 42, 42);
    font-size: 1.2rem;
    width: 100%;
}

nav{
    background-color: rgba(238, 232, 170, 0.411);
    height: 150px;
    border-radius: 100px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    background-color: rgb(251, 217, 117);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}

.two-words{
    width: 50%;
}

#shop-button{
    width: 200px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.5em;
}

nav ul li img{
    width: 50px;
}

#cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-cart-container{
    width: 350px;
    background-color: rgba(238, 232, 170, 0.411);
    border-radius: 100px;
    margin: 10px;
}

.product-cart-container img{
    width: 100%;
    border-radius: 100px 100px 0px 0px;
    height: 300px;
}

.under-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 140px;
    margin-top: 25px;
    padding-bottom: 10px;
}

.under-img button{
    color: rgb(70, 42, 42);
    font-size: 1.2rem;
    background-color: rgb(251, 217, 117);
    border: none;
    border-radius: 50px;
    width: 190px;
    height: 40px;
}

.product-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.product-description div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-description h3{
    margin: 0;
}

.product-description p{
    margin: 0;
}

.price{
    font-size: 1.3rem;
}

h1{
    margin: 20px;
}

.news{
    margin: 20px;
    font-size: 2em;
}


article{
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5em;
    background-color: rgba(238, 232, 170, 0.411);
    color: rgb(70, 42, 42);
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

article img{
    width: 430px;
}

@media  screen and (min-width: 900px) {
    article{
        flex-direction: row;
    }

    article img{
        margin: 20px;
        width: 600px;
        height: 550px;
    }
}

@media screen and (max-width: 660px) {
    
    nav ul{
      flex-wrap: wrap;
    }

    nav ul li{
        order: 2;
    }

    #shop-button{
        order: 1;
    }

    article img{
        width: 100%;
    }

}
