<div class="container">
  <p></p>
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div *ngFor="let photo of photos" class="col-4">
          <div class="card">
            <img src="{{ photo.url }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ photo.title }}</h5>
              <button>Elimina</button>
              <button>Mi Piace</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
