.nav{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;

  ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      margin: 0px 20px;

      a{
        text-decoration: none;
        color: black;
      }
    }
  }

}

.current-page{
  font-weight: bold;
  color: purple;
}
