/* #background {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    max-width: 1000px;
    margin: 50px 100px;
    padding: 100px;

}

.logo {
    max-width: 160px;
    margin-top: 30px;
    margin-left: 50px;
    
}

.Guido {
   text-align: center;
}

.risultato {
    text-align: center;
    color: white;
}

.titolo {
    font-size: 3rem;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

.testo {
    font-size: 1.5rem;
    font-family:'Inter', sans-serif;
    margin-top: 10px;
}

.central {
    display: flex;
    justify-content: center;
   margin-top: 30px;
   color: white;
   align-self: center;
   font-family:'Inter', sans-serif;
}

.esamepassato {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    
}

.certificate {
    
}

.passed {
    margin-bottom: 20px;
    font-weight: bold;
    color: #00FFFF;

}

.rispostecorrette {
    
}

.divbottone {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 60px;
}

.bottonepagina3 {
    color: white;
    background-color: transparent;
    border: 2px white solid;
    font-family:'Inter', sans-serif;
    font-weight: bold;
    width: 140px;
    height: 50px;
}

.percentuale {
    font-size: 2rem;
} */